@import "partials/variables";

#chrome-extension-gaiyas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  background-color: $BgColor;
  font-size: 13px;
  width: 250px;
  height: 100%;
  text-align: initial;
  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "MS PGothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #ddd;
  line-height: 1;
  -webkit-font-smoothing: auto;
  font-feature-settings: "palt";
  transition: all 200ms 0s ease;

  * {
    box-sizing: border-box;
  }

  &.closed {
    right: -250px;

    .ceg__toggle {
      left: -28px;
      position: relative;
    }
    .ceg__cnt {
      top: 24px;
      right: 245px;
      position: relative;
      font-size: 16px;
      padding: 2px;
      border-radius: 0;
    }
  }

  .ceg__wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
  }

  .ceg__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00a4de;
  }

  .ceg__segmentcontrol {
    border-bottom: 1px solid rgba(216, 216, 217, 0.15);

    .ceg__segments {
      display: flex;
      padding: 5px 15px;

      .ceg__seg {
        flex: 1;
        padding: 2px 0;
        text-align: center;
        font-size: 13px;
        color: #00a4de;
        text-decoration: none;
        border: 1px solid #00a4de;
        border-right: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: rgba(255,255,255,.1);
        }
        &.ceg__active {
          color: #eee;
          background-color: #00a4de;
          cursor: auto;
        }
        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &:last-child {
          border-right: 1px solid #00a4de;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }

  .ceg__toggle {
    width: 28px;
    height: 28px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border: 0;
    background-color: #00a4de;
    text-align: center;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 0;
    transition: all 200ms 0s ease;
  }

  .ceg__title {
    padding-left: 10px;
    color: #fff;
  }

  .ceg__commentbox {
    flex: 1;
    display: flex;
    overflow-y: hidden;
  }

  .ceg__comments {
    padding: 10px 0 30px 10px;
    overflow-y: auto;
  }

  .ceg__cnt {
    font-size: 14px;
    color: rgb(255,102,102);
    font-weight: bold;
    background-color: rgb(255,240,240);
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 2px;
    right: 0;
    transition: all 200ms 0s ease;
  }

  .ceg__line {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px 0;

    &.ceg__no-comment {
      display: none;
    }
  }

  .ceg__commenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 5px 0;
  }

  .ceg__cmtr-left {
    display: flex;
  }

  .ceg__cmtr-right {
    display: flex;
  }

  .ceg__user {
    display: flex;
  }

  .ceg__username {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(165, 165, 167);
  }

  .ceg__timestamp {
    padding-left: 10px;
    font-size: 10px;
    color: rgb(126, 126, 129);
  }

  .ceg__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 7px;

    .ceg__avatarimg {
      width: 16px;
      height: 16px;
    }
  }

  .ceg__star {
    font-size: 12px;
    color: #F5AC0F;
    letter-spacing: -0.05em;
  }

  .ceg__comment {
    line-height: 1.4;
    padding: 0 8px 10px 0;
    border-bottom: 1px solid $SeparatorColor;
  }

  .ceg__progressbar {
    display: flex;
    width: 100%;
    height: 10px;
    margin: 15px 7px 15px 15px;
    border: 1px solid #fff;

    .ceg__progressbar-inner {
      background-color: #fff;
    }
  }

}
