@import "partials/variables";

#chrome-extension-gaiyas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  background-color: $BgColor;
  font-size: 13px;
  width: 270px;
  height: 100%;
  text-align: initial;
  word-break: break-all;
  font-family: "MS PGothic", sans-serif;
  color: #ddd;
  -webkit-font-smoothing: auto;
  font-feature-settings: "palt";
  transition: all 200ms 0s ease;

  &.closed {
    right: -270px;

    .ceg__toggle {
      left: -28px;
      position: relative;
    }
  }

  .ceg__wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .ceg__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00a4de;
  }

  .ceg__toggle {
    width: 28px;
    height: 28px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border: 0;
    background-color: #00a4de;
  }

  .ceg__title {
    padding-left: 10px;
    color: #fff;
  }

  .ceg__comments {
    padding: 10px 0 30px 10px;
    flex: 1;
    overflow-y: auto;
  }

  .ceg__cnt {
    font-size: 16px;
    color: #ff8080;
    font-weight: bold;
    right: 0;
    bottom: 0;
    background-color: #ffe5e5;
    padding: 2px 8px;
  }

  .ceg__line {
    display: flex;
    padding: 5px 0;

    &.ceg__no-comment {
      display: none;
    }
  }

  .ceg__avatar {
    padding-right: 7px;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .ceg__comment {
    flex: 1;
    line-height: 1.4;
    padding: 0  10px 10px 0;
    border-bottom: 1px solid $SeparatorColor;
  }

}
