@import "partials/variables";

#chrome-extension-gaiyas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  background-color: $BgColor;
  font-size: 13px;
  width: 270px;
  height: 100%;
  text-align: initial;
  word-break: break-all;
  font-family: "MS PGothic", sans-serif;
  color: #ddd;
  line-height: 1;
  -webkit-font-smoothing: auto;
  font-feature-settings: "palt";
  transition: all 200ms 0s ease;

  &.closed {
    right: -270px;

    .ceg__toggle {
      left: -28px;
      position: relative;
    }
  }

  .ceg__wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .ceg__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00a4de;
  }

  .ceg__segmentcontrol {
    border-bottom: 1px solid rgba(216, 216, 217, 0.15);

    .ceg__segments {
      display: flex;
      padding: 5px 15px;

      .ceg__seg {
        flex: 1;
        padding: 4px 0;
        text-align: center;
        color: #00a4de;
        text-decoration: none;
        border: 1px solid #00a4de;
        border-right: 0;
        &:hover {
          background-color: rgba(255,255,255,.1);
        }
        &.ceg__active {
          color: #eee;
          background-color: #00a4de;
        }
        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &:last-child {
          border-right: 1px solid #00a4de;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }

  .ceg__toggle {
    width: 28px;
    height: 28px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    border: 0;
    background-color: #00a4de;
    outline: none;
    cursor: pointer;
  }

  .ceg__title {
    padding-left: 10px;
    color: #fff;
  }

  .ceg__comments {
    padding: 10px 0 30px 10px;
    flex: 1;
    overflow-y: auto;
  }

  .ceg__cnt {
    font-size: 14px;
    color: rgb(255,102,102);
    font-weight: bold;
    background-color: rgb(255,240,240);
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 2px;
  }

  .ceg__line {
    display: flex;
    padding: 5px 0;

    &.ceg__no-comment {
      display: none;
    }
  }

  .ceg__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 7px;

    .ceg__avatarimg {
      width: 16px;
      height: 16px;
    }
  }

  .ceg__star {
    font-size: 10px;
    color: #F5AC0F;
    font-weight: bold;
    letter-spacing: -0.05em;
  }

  .ceg__comment {
    flex: 1;
    line-height: 1.4;
    padding: 0  10px 10px 0;
    border-bottom: 1px solid $SeparatorColor;
  }

}
